@import "../../styles/variables.scss";

.menu {
  border: 2px solid gray;
  justify-content: center;
  border-radius: 30px;
  padding: 20px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // border: 2px solid green;
    margin-bottom: 20px;
  }

  .title {
    font-size: 12px;
    font-weight: 200;
    color: $soft-color;
  }

  .listItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
    border-radius: 10px;

    &:hover {
      background-color: $soft-bg;
    }
  }
}
