.chartbox {
  display: flex;
  justify-content: space-between;
  // border: 1px solid lightblue;
  height: 100%;
  .boxinfo {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    .title {
      img {
        width: 26px;
        height: 26px;
      }
      // border: 1px solid lightblue;
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }
  }

  .chartinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid lightgreen;
    height: 100%;
    width: 120px;
    gap: 10px;

    .chart {
      width: 100%;
      height: 50%;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: right;

      .percent {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
