.datatable {
  height: 100%;

  .datagrid {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    // border: 2px solid red;
    border-radius: 30px;
  }

  .MuiDataGrid-toolbarContainer {
    // flex-direction: row-reverse;
    // justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
